body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

.dropdown {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.dropdown button {
    width: 150px;
    text-align: left;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    height: 40px;
}

.dropdown button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 150px;
    top: 0;
    z-index: 1;
}

.dropdown-content button {
    display: block;
    padding: 0;
    margin-bottom: 2px;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 20px;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

#tracert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    z-index: 1000;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

#tracert-content {
    margin-bottom: 20px;
}

#tracert-container button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; 
    transition-duration: 0.4s; 
}

#tracert-container button:hover {
    background-color: #15e01f; 
}


#nslookup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    z-index: 1000;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

#nslookup-content {
    margin-bottom: 20px;
}

#nslookup-container button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; 
    transition-duration: 0.4s; 
}

#nslookup-containerbutton:hover {
    background-color: #15e01f; 
}