body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

.dropdown {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.dropdown button {
    width: 200px;
    text-align: left;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.dropdown button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#tracert-container {
    position: fixed; /* Stała pozycja */
    top: 50%; /* Połowa wysokości ekranu */
    left: 35%; /* Połowa szerokości ekranu */
    transform: translate(-50%, -50%); /* Przesunięcie do środka */
    background-color: white; /* Tło */
    padding: 20px; /* Odstępy wewnątrz */
    border: 1px solid #ddd; /* Obramowanie */
    z-index: 1000; /* Wyższa warstwa */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); /* Cień */
    max-width: 80%; /* Maksymalna szerokość */
    max-height: 80%; /* Maksymalna wysokość */
    overflow: auto; /* Przewijanie w razie potrzeby */
}

#tracert-content {
    margin-bottom: 20px; /* Odstęp od dolnego przycisku */
}