<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista Domen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Lista Domen</h1>
    {% for domain in domains %}
    <div class="dropdown">
        <button>{{ domain }}</button>
        <div class="dropdown-content" id="dropdown-content-{{ domain }}">
            <button onclick="nslookupFunction('{{ domain }}')">nslookup</button>
            <button onclick="showTracert('{{ domain }}')">tracert</button>
        </div>
        <div id="tracert-data-{{ domain }}" style="display: none;">
            {% for tracert in tracert_results[domain] %}
            <pre>{{ tracert }}</pre>
            {% endfor %}
        </div>
        <div id="nslookup-data-{{ domain.replace('.', '-') }}" style="display: none;">
            {% for ip in data['IP'][domain] %}
            <p>{{ ip }}</p>
            {% endfor %}
        </div>

    </div>
    {% endfor %}
    

    <div id="tracert-container" style="display: none;">
        <div id="tracert-content"></div> 
        <button onclick="closeTracert()">Zamknij</button>
    </div>
    <div id="nslookup-container" style="display: none;">
        <div id="nslookup-content"></div>
        <button onclick="closeNslookup()">Zamknij</button>
    </div>
    <script>
       function showTracert(domain) {
            closeNslookup();
            var dataId = 'tracert-data-' + domain;
            var tracertDataElement = document.getElementById(dataId);
            if (tracertDataElement) {
                document.getElementById('tracert-content').innerHTML = tracertDataElement.innerHTML;
                document.getElementById('tracert-container').style.display = 'block';
            } else {
                console.error('Element not found:', dataId);
            }
        }
        function closeTracert() {
            document.getElementById('tracert-container').style.display = 'none';
        }


        function closeNslookup() {
            document.getElementById('nslookup-container').style.display = 'none';
        }

        function nslookupFunction(domain) {
            closeTracert();
            var domainId = domain.replace(/\./g, '-'); 
            var dataId = 'nslookup-data-' + domainId;
            var nslookupDataElement = document.getElementById(dataId);
            
            if (nslookupDataElement) {
                var content = '<h3>Adresy IP dla ' + domain + '</h3>';
                content += '<ol>';
                var ipElements = nslookupDataElement.querySelectorAll('p');
                for (var i = 0; i < ipElements.length; i++) {
                    content += '<li>' + ipElements[i].textContent + '</li>';
                }
                content += '</ol>';
                document.getElementById('nslookup-content').innerHTML = content;
                document.getElementById('nslookup-container').style.display = 'block';
                console.error('Element not found:', dataId);
            }
        }   
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('.dropdown').forEach(dropdown => {
            let button = dropdown.querySelector('button');
            let dropdownContent = dropdown.querySelector('.dropdown-content');

                button.addEventListener('mouseenter', (event) => {
                    dropdownContent.style.display = 'block';
                });

                dropdown.addEventListener('mouseleave', (event) => {
                    dropdownContent.style.display = 'none';
                });
            });
        });
    </script>
</body>
</html>
